
/* This is the image in the background */
#editCoverImg{
    border: solid red 2px;
    width: 25%;
    filter: brightness(35%);
}
#editCoverImg:hover{
    cursor: pointer;
    width: 25%;
    filter: brightness(15%);
}
#coverImg{
    width: 25%;
    filter: brightness(55%);
}

/* This is the Title */
.parallaxHeader{
    position: absolute;
    top: 50%;
    text-align: left;
    padding-left: 15%;
    z-index: 2;
    color: rgb(255, 174, 0);
    text-shadow: 2px 2px #000000;
    font-family:'Times New Roman', Times, serif
}

#editLegacyTitle{
    position: absolute;
    top: 50%;
    text-align: left;
    padding-left: 15%;
    z-index: 5;
    color: rgb(255, 174, 0);
    text-shadow: 2px 2px #000000;
    font-family:'Times New Roman', Times, serif
}
#editLegacyTitleParallax{
    position: absolute;
    top: 50%;
    text-align: left;
    padding-left: 15%;
    z-index: 5;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    font-family:'Times New Roman', Times, serif
}

#editParallax:hover{
    cursor: pointer;
}

/* Section background Color */
#section{
    background-color: rgba(255, 0, 0, 0)
}


.header{
    color: rgb(196, 143, 0);
    font-family:Arial, Helvetica, sans-serif;
}

.authorBox{
    background-color: rgb(11, 14, 24);
    height: 80%;
    width: 20%;
    position: absolute;
    top: 60%;
    border-radius: 10px;
}


.followerBox{
    background-color: rgb(11, 14, 24);
    height: 65%;
    width: 20%;
    position: absolute;
    top: 60%;
    border-radius: 10px;
}

/* Set the size of the profile image  */
#authorProfileImg{
    width: 50%;
    border-radius: 50%;        
}


.authorNameDesk{
    font-family: 'Times New Roman', Times, serif;
    color: #ff9100;
}

#legacyDesc{
    font-family: 'Times New Roman', Times, serif;
}

#authorMenuBtn{
    background-color: rgb(128, 87, 11);
    width: 100%;
}

#authorMenuDeleteBtn{
    background-color: rgb(128, 15, 11);
    width: 100%;
}

#editBtn{
    background-color: rgb(128, 87, 11);
}
#editBtn:hover{
    background-color: rgb(255, 196, 0);
}

#followBtn{
    background-color: rgb(0, 140, 255);
}
#followBtn:hover{
    background-color: rgb(2, 58, 143);
}




#authorTxt{
    font-size: 175%;
    float: left;
    vertical-align: baseline;
    padding-left: 1%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 65%;
    left: 15%;
    text-align: left;
}

#subtitle{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* For the overall collection */
.collection-item{
    background-color: #181f3d;
}
.collection-item:hover{
    background-color: #212a55;
    cursor: pointer;
}

/* Lets just try it */

.section{
    background-color: rgba(0, 0, 0, 0.452);
}

.bannerTxt{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(153, 197, 255);
    
}


.box2{    
    overflow-x: scroll;   
    overflow-y: hidden;
    flex-direction: row;
    display: flex;
    position: relative;
    animation: rightSlide 3.5s;
    animation-direction: normal;
  
}

.space{
    padding-left: 5%;
    padding-right: 5%;   
}

/* these are each of the book frames */
.cardTitle{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(2vw, 22px);    
    position:absolute;
    right:10%;
    top:5%;
    z-index: 3;
}
#cardFooter{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(1vw, 12px);    
    position:absolute;
    right:10%;
    bottom:1%;
    z-index: 3;
}
#cardFooterMenu{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(1vw, 12px);    
    position:absolute;
    left:10%;
    bottom:5%;
    z-index: 4;
}

#bookCoverImg{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }
#editBookCoverImg{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
  }
#editBookCoverImg:hover{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
    filter: brightness(35%);
  }

.card-title{
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 5;
}

#delCardAevum{
    
    width: 35%;
    min-width: 30%;
    max-width: 40%;
    height: 200px;
    display: inline-block;
    background-color: #00000000;
 
}
#testCardAevumMed{
    
    width: 60%;
    min-width: 30%;
    max-width: 50%;
    height: 400px;
    display: inline-block;
    background-color: #00000000;
 
}
#testCardAevum{
    
    width: 35%;
    min-width: 30%;
    max-width: 40%;
    height: 400px;
    display: inline-block;
    background-color: #00000000;
 
}
#aevumItemMed{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:200px;
    /* width: 425px; */
    width: 100%;
    /* border:solid rgb(255, 123, 0) 2px; */
    display: inline-block;
}

#aevumItemMed:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:200px;
    cursor: pointer;
    border:solid rgb(255, 38, 0) 2px;
}
#aevumItem{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:400px;
    /* width: 425px; */
    width: 100%;
    /* border:solid rgb(255, 123, 0) 2px; */
    display: inline-block;
}

#aevumItem:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:400px;
    cursor: pointer;
    border:solid rgb(255, 38, 0) 2px;
}
#aevumItemDel{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:200px;
    /* width: 425px; */
    width: 100%;
    /* border:solid rgb(255, 123, 0) 2px; */
    display: inline-block;
}

#aevumItemDel:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:200px;
    cursor: pointer;
    border:solid rgb(255, 38, 0) 2px;
}

.bookFrame{
    width: 35%;
    min-width: 25%;
    max-width: 35%;

    display: inline-block;
    background-color: #00000000;
}


#editlegacyTitle{
    color: rgb(66, 154, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;    
    background-color: #181818;
    border-radius: 10px;
    height: 50px;
}
#editlegacyDesc{
    color: rgb(66, 132, 218);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    height: 200px;
    background-color: #181818;
    border-radius: 10px;
}

#userOptions{
    color: white;
}
#userOptions:hover{
    color: rgb(250, 133, 0);
    cursor: pointer;
    font-size: 40px;
}

/* For each Entry In list */
.title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(214, 144, 15);
}

#publicBtn{
    background-color: rgb(0, 119, 255);
    padding: 1%;
    width: 100%;
    border-radius: 10px;
}
#privateBtn{
    background-color: rgb(255, 51, 0);
    padding: 1%;
    width: 100%;
    border-radius: 10px;
}
#publicBtn:hover{
    cursor: pointer;
    background-color: rgb(89, 167, 255);
    padding: 1%;
    width: 100%;
    border-radius: 10px;
}
#privateBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 112, 77);
    padding: 1%;
    width: 100%;
    border-radius: 10px;
}

#fancyTxt{
    font-family: 'Times New Roman', Times, serif;
}