
/* This is the image in the background */
#coverImg{
    width: 25%;
}

/* This is the Title */
.parallaxHeader{
    position: absolute;
    top: 50%;
    text-align: left;
    padding-left: 15%;
    z-index: 2;
    color: rgb(196, 143, 0);
    text-shadow: 2px 2px #000000;
    font-family:Arial, Helvetica, sans-serif;
}


/* Section background Color */
#section{
    background-color: rgba(255, 0, 0, 0)
}


.header{
    color: rgb(196, 143, 0);
    font-family:Arial, Helvetica, sans-serif;
}

/* Set the size of the profile image  */
#authorProfileImg{
    width: 5%;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    position: absolute;
    top: 65%;
    left: 15%;
    text-align: left;
}

#authorTxt{
    font-size: 175%;
    float: left;
    vertical-align: baseline;
    padding-left: 1%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 65%;
    left: 15%;
    text-align: left;
}

#subtitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* For the overall collection */
.collection-item{
    background-color: #181f3d;
}
.collection-item:hover{
    background-color: #212a55;
    cursor: pointer;
}

/* Lets just try it */

.section{
    background-color: rgba(0, 0, 0, 0.452);
}

.box2{    
    overflow: scroll;   
    flex-direction: row;
    display: flex;
    position: relative;
    animation: rightSlide 3.5s;
    animation-direction: normal;
  
}

.space{
    padding-left: 5%;
    padding-right: 5%;   
}

/* these are each of the book frames */
.cardTitle{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(2vw, 22px);    
    position:absolute;
    right:10%;
    top:5%;
    z-index: 3;
}
#cardFooter{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(1vw, 12px);    
    position:absolute;
    right:10%;
    bottom:1%;
    z-index: 3;
}
#cardFooterMenu{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(1vw, 12px);    
    position:absolute;
    left:10%;
    bottom:5%;
    z-index: 4;
}

#bookCoverImg{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }

#testCardAevum{
    
    width: 35%;
    min-width: 30%;
    max-width: 40%;
    height: 400px;
    display: inline-block;
    background-color: #00000000;
 
}
#aevumItem{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:400px;
    /* width: 425px; */
    width: 100%;
    /* border:solid rgb(255, 123, 0) 2px; */
    display: inline-block;
}

#aevumItem:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:400px;
    cursor: pointer;
    border:solid rgb(255, 38, 0) 2px;
}

.bookFrame{
    width: 35%;
    min-width: 25%;
    max-width: 35%;

    display: inline-block;
    background-color: #00000000;
}


#userOptions{
    color: white;
}
#userOptions:hover{
    color: rgb(250, 133, 0);
    cursor: pointer;
    font-size: 40px;
}

/* For each Entry In list */
.title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(214, 144, 15);
}