
<!-- Desktop -->

<!-- Default Author Theme -->
<div 
 *ngIf="authorTheme"
class="hide-on-med-and-down">
    <img src="{{coverImg}}" alt="cover" id="coverImg">
    <!-- Desktop Display -->
    <div class="center white-text">
            <div class="page">
                <div class="row">
                    <!-- Additional Spacing Required -->
                      
                    <div class="col l10 offset-l1" id="page">
                        <textarea
                        disabled
                        [value]="title + '\n' + text"                             
                        id="writtenPassage" 
                        class="materialize-textarea">               
                        </textarea>
                    </div>
                </div>      
            </div>                      
    </div>
</div>

<!-- Dark Theme -->
<div 
 *ngIf="DarkTheme"
class="hide-on-med-and-down">    
    <!-- Desktop Display -->
    <div class="center white-text">
            <div class="page">
                <div class="row">
                    <!-- Additional Spacing Required -->
                      
                    <div class="col l10 offset-l1" id="page">
                        <textarea
                        disabled
                        [value]="title + text"                             
                        id="writtenPassage" 
                        class="materialize-textarea">               
                        </textarea>
                    </div>
                </div>      
            </div>                      
    </div>
</div>

<!-- Light Theme -->
<div 
 *ngIf="LightTheme"
class="white hide-on-med-and-down">    
    <!-- Desktop Display -->
    <div class="center black-text">
            <div class="page">
                <div class="row">
                    <!-- Additional Spacing Required -->
                      
                    <div class="col l10 offset-l1" id="page">
                        <textarea
                        disabled
                        [value]="title + text"                             
                        id="lightWrittenPassage" 
                        class="materialize-textarea">               
                        </textarea>
                    </div>
                </div>      
            </div>                      
    </div>
</div>

<!-- Cream Theme -->
<div 
 *ngIf="CreamTheme"
class="hide-on-med-and-down"
style="background-color: rgb(236, 195, 147);">    
    <!-- Desktop Display -->
    <div class="center black-text">
            <div class="page">
                <div class="row">
                    <!-- Additional Spacing Required -->
                      
                    <div class="col l10 offset-l1" id="page">
                        <textarea
                        disabled
                        [value]="title + text"                             
                        id="creamWrittenPassage" 
                        class="materialize-textarea">               
                        </textarea>
                    </div>
                </div>      
            </div>                      
    </div>
</div>



<!-- Tablet/Phone Author Theme -->
<div 
*ngIf="authorTheme"
class="hide-on-large-only">
    <img src="{{coverImg}}" alt="cover" id="coverImgMed">
    <!-- Desktop Display -->
    <div class="center white-text">
        <div class="container">
            <div class="col s8 m8 offset-s2 offset-m2">
    
                <textarea
                disabled
                [value]="title + text"                             
                id="mobileWrittenPassage" 
                class="materialize-textarea">               
                </textarea>
                        
            </div>
        </div>
    </div>
</div>


<!-- Tablet/Phone Dark Theme -->
<div 
*ngIf="DarkTheme"
class="black hide-on-large-only">
    
    <!-- Desktop Display -->
    <div class="center white-text">
        <div class="container">
            <div class="col s8 m8 offset-s2 offset-m2">
    
                <textarea
                disabled
                [value]="title + text"                             
                id="mobileWrittenPassageDark" 
                class="materialize-textarea">               
                </textarea>
                        
            </div>
        </div>
    </div>
</div>


<!-- Tablet/Phone Light Theme -->
<div 
*ngIf="LightTheme"
class="white hide-on-large-only">
    
    <!-- Desktop Display -->
    <div class="center white-text">
        <div class="container">
            <div class="col s8 m8 offset-s2 offset-m2">
    
                <textarea
                disabled
                [value]="title + text"                             
                id="mobileWrittenPassageLight" 
                class="materialize-textarea">               
                </textarea>
                        
            </div>
        </div>
    </div>
</div>


<!-- Tablet/Phone Cream Theme -->
<div 
*ngIf="CreamTheme"
class="hide-on-large-only"
style="background-color: rgb(209, 158, 92);">
    
    <!-- Desktop Display -->
    <div class="center white-text">
        <div class="container">
            <div class="col s8 m8 offset-s2 offset-m2">
    
                <textarea
                disabled
                [value]="title + text"                             
                id="mobileWrittenPassageCream" 
                class="materialize-textarea">               
                </textarea>
                        
            </div>
        </div>
    </div>
</div>



<!-- Hidden Click Area for Left and Right Menu -->

<!-- Start with left menu -->
<div 
(click)="serviceMenu=!serviceMenu; themeMenu=false;"
class="leftMenu">
</div>

<!-- Start with right menu -->
<div 
*ngIf="author"
(click)="authorMenu=!authorMenu; privacyMenu=false; "
class="rightMenu">
</div>


<!-- Service Buttons for Author-->
<div     
*ngIf="authorMenu"
class="serviceMenuAuthor">
    <div id="serviceAuthorList">
        <div
        *ngFor="let card of serviceAuthorCards; let i = index;">            
        <div
        (click)="authorMenuAction(card.action)"
        class="card" id="serviceMenuAuthorBtn">
            <div class="card-content white-text">
            <span class="card-title"><i class="material-icons small">{{card.icon}}</i> &nbsp; <b> {{card.title}}</b></span>                
            <p style="font-size: small;"><i>{{card.desc}}</i></p>
            </div>        
        </div>
        <br>
        </div>
    </div>
</div>

<!-- Service Buttons -->
    <div     
    *ngIf="serviceMenu"
    class="serviceMenu">
        <div id="serviceList">
            <div
            *ngFor="let card of serviceCards; let i = index;">            
            <div
            (click)="menuAction(card.action)"
            class="card" id="serviceMenuBtn">
                <div class="card-content white-text">
                <span class="card-title"><i class="material-icons small">{{card.icon}}</i> &nbsp; <b> {{card.title}}</b></span>                
                <p style="font-size: small;"><i>{{card.desc}}</i></p>
                </div>        
            </div>
            <br>
            </div>
        </div>
    </div>


    <!-- Theme Buttons -->   
     <div     
    *ngIf="themeMenu"
    class="serviceMenu">
        <div id="serviceList">
            <div
            *ngFor="let card of themeCards; let i = index;">            
            <div
            (click)="themeMenuAction(card.action)"
            class="card" id="serviceMenuBtn">
                <div class="card-content white-text">
                <span class="card-title"><i class="material-icons small">{{card.icon}}</i> &nbsp; <b> {{card.title}}</b></span>                
                <p style="font-size: small;"><i>{{card.desc}}</i></p>
                </div>        
            </div>
            <br>
            </div>
        </div>
    </div>

    <!-- Privacy Buttons -->    
    <div     
    *ngIf="privacyMenu"
    class="serviceMenuAuthor">
        <div id="serviceAuthorList">
            <div
            *ngFor="let card of authorPrivacyCards; let i = index;">            
            <div
            (click)="privacyAction(card.action)"
            class="card" id="serviceMenuAuthorBtn">
                <div class="card-content white-text">
                <span class="card-title"><i class="material-icons small">{{card.icon}}</i> &nbsp; <b> {{card.title}}</b></span>                
                <p style="font-size: small;"><i>{{card.desc}}</i></p>
                </div>        
            </div>
            <br>
            </div>
        </div>
    </div>

        <!-- Deletion Buttons -->    
        <div     
        *ngIf="deletionMenu"
        class="serviceMenuAuthor">
            <div id="serviceAuthorList">
                <div
                *ngFor="let card of deletionCards; let i = index;">            
                <div
                (click)="deletionMenuAction(card.action)"
                class="card" id="serviceMenuAuthorBtn">
                    <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons small">{{card.icon}}</i> &nbsp; <b> {{card.title}}</b></span>                
                    <p style="font-size: small;"><i>{{card.desc}}</i></p>
                    </div>        
                </div>
                <br>
                </div>
            </div>
        </div>