.container{
    padding: 2%;
    padding-bottom: 5%;
    
}

#coverImg{
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
    filter:  blur(9px) brightness(65%);
}

.serviceCard{
    position: fixed;
    bottom: 10%;
    left: 5%;
    z-index: 10;
}


#writtenPassage{
    color: rgba(255, 255, 255, 0.89);
    white-space: pre-wrap;
    font-family:serif;
    font-size: 35px;
    padding-bottom: 30%;
    overflow: auto;
    height: 850px;
    max-height: 850px;
    margin:0 auto;
}

#lightWrittenPassage{
  color: rgba(0, 0, 0, 1);
  white-space: pre-wrap;
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
  padding-bottom: 30%;
  overflow: auto;
  height: 850px;
  max-height: 850px;
  margin:0 auto;
}


#creamWrittenPassage{
  color: rgb(31, 17, 0);
  white-space: pre-wrap;
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
  padding-bottom: 30%;
  overflow: auto;
  height: 850px;
  max-height: 850px;
  margin:0 auto;
}

#page{
 height: 850px;;  
}

#coverImgMed{
    background-size:cover;
    background-repeat:repeat;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter:  blur(10px) brightness(50%);
}

#text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


* For the service menu */
.serviceMenu{
    position: fixed;
    background-color: #0f0f12f1;
    left: 30%;
    bottom: 0%;
    z-index: 10;
    width: 20%;
    padding-left: 5%;

}

#serviceList{
    position: fixed;
    top: 19%;
    left: 3%;
    max-height: 700px;
    overflow: auto;
    animation: 1s ease-out 0s 1 slideInFromLeft;

}

#serviceMenuBtn{
    background-color: rgba(15, 19, 31, 0.63);
    border: solid rgb(102, 100, 255) 3px;
    border-radius: 10px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#serviceMenuBtn:hover{
    cursor: pointer;
    background-color: rgb(15, 28, 71);
    border: solid rgb(126, 140, 212) 1px;
    border-radius: 10px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* For Service Card at the bottom right of obsidina  */
.serviceCard{
    position: fixed;
    bottom: 10%;
    left: 5%;
    z-index: 10;
}

#serviceBtn{
    background-color: rgb(15, 19, 31);
    border: solid rgb(126, 140, 212) 1px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   
}

/*Transitionn Animations for NewPost*/
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 2.0s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0);
    }
  }