<div id="Nav"  ref="TOPNAV" *ngIf="Auth">
    <!--Start of Div for Nav/SideNav-->  
       <div  class="navbar-fixed">

           <!---NavBar Start-->
               <nav class="black nav-extended" style="position:fixed; bottom: 0%;">
                       <div class="nav-wrapper" style=""> 
                           <div to="/" class="hide-on-small-only">
                                   <a href="#!" class="brand-logo left" id="title"> Obsidian<i class="material-icons right" style="rotation:180deg;">brightness_2</i>Rune</a>
                           </div>
                            <div to="/" class="hide-on-med-and-up">
                                   <a href="#!" class="brand-logo center" id="MobileTitle"> Obsidian<i class="material-icons right" style="rotation:180deg;">brightness_2</i>Rune</a>
                           </div>
                               <a href="#" v-on:click="sidebar" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
                           <ul class="right hide-on-med-and-down" style="padding-right:05%;">
                           <li>
                               <div to="/" style="padding-right: 25%;">
                                <h5>Home</h5>
                               </div>
                           </li>
                           <li>
                               <div style="padding-right: 10%;" v-bind:to="{name: 'profile', params: {userid: userid}}">
                                <h5 v-on:click="loadFriends();">Profile</h5>
                               </div>
                           </li>
                           <li>
                               <div to="" style="padding-right: 10%;">
                                <h5 v-on:click="loadFriends();">Notifications</h5>
                               </div>
                           </li>
                           <li>
                               <div to="" style="padding-right: 10%;">
                                <h5 v-on:click="loadFriends();">Messages</h5>
                               </div>
                           </li>
                           <li>
                                   <i v-on:click="signout" class="tiny material-icons red-text">cancel</i>
                           </li>
                           
                           </ul>
                       </div>

               </nav>
           <!--End of Navbar--->

               <!--Start of the side Nav Bar List items-->
                   <ul  class="sidenav  center" id="mobile-demo" style="background-color:#000000;">
                               <br>
                               <li>
                                   <img :src="profileImg" style="width:25%; border-radius:50%;">
                               </li>
 
                              <li><div class="container"><hr></div></li>
                               <li><div to="/"  class="white-text center" ><h4><a v-on:click="sidebar" class="sidenav-close white-text" href="#">Home</a></h4></div></li>
                               <li><div class="container"><hr></div></li>
                               <li><div to="/Messages"  class="white-text center"><h4><a v-on:click="sidebar" class="sidenav-close white-text" href="#">Messages</a></h4></div></li>                         
                               <li><div class="container"><hr></div></li>
                               <li><div to="/profile" class="white-text"><h4><a v-on:click="sidebar" class="sidenav-close white-text" href="#">Profile</a></h4></div></li>
                               <li><div class="container"><hr></div></li>
                               <li><div to="" class="white-text"><h4><a v-on:click="GetRuiNotes" class="sidenav-close white-text" href="#">Notifications</a></h4></div></li>
                               <li><div class="container"><hr></div></li>
                               <li v-if="SignedIn"><h4 v-on:click="signout" class="red-text" style="border: none; background-color:#000000;"><a href="#" style="color:red;">Sign Out</a></h4></li>
                               <li><a v-on:click="sidebar" class="sidenav-close white-text" href="#">X</a></li><br>
                   </ul>
               <!--End of the side Nav Bar List items-->
       </div>
    <!--End of Div for Nav/SideNav-->





</div>