
@import url('https://fonts.googleapis.com/css?family=Allura|Dancing+Script|Parisienne&display=swap');

#imageSet{
    position: relative;;
    z-index: 20;
}
.group{
    position: relative;
    top:23%;
    width:100%;
    z-index: 1
}
#loginTxt{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.stitle{
    font-family: 'Courier New', Courier, monospace; /* Love this font*/
    color:white;
}

.title{
    color:#055CD8;
    font-family: 'Parisienne'
}

/* For animations */
#glowText{
    font-family: 'Parisienne';
    animation-direction:normal;
    animation-name: example;
    animation-duration: 50s;
    position: relative;
    animation-iteration-count: 3;
}
#glowTextLag{
    font-family: 'Parisienne';
    animation-direction:normal;
    animation-name: example;
    animation-duration: 50s;
    position: absolute;
    left: -1000px;
    overflow: hidden;
}
#glowText2{
    font-family: 'Parisienne';
    animation-direction:normal;
    animation-name: example2;
    animation-duration: 50s;
    position: relative;
    animation-iteration-count: 3;

}
#glowText3{
    font-family: 'Parisienne';
    animation-direction:normal;
    animation-name: example;
    animation-duration: 50s;
    position: relative;
    animation-iteration-count: 3;

}
#glowText4{
    font-family: 'Parisienne';
    animation-direction:normal;
    animation-name: example2;
    animation-duration: 50s;
    position: relative;
    animation-iteration-count: 3;

}
#glowText5{
    font-family: 'Parisienne';
    animation-direction:normal;
    animation-name: example;
    animation-duration: 50s;
    position: relative;
    animation-iteration-count: 3;

}
@keyframes example {
    0%   {left:0%; top:0px;}
    50%  {left:50%; top:0px;}
    100% {left:0%; top: 0px;}
  }

  @keyframes example2 {
    0%   { right:0%; top:0px;}
    50%   {right:50%; top:0px;}
    100%   { right:0%; top:0px;}

  }


#login{
    padding-top:0%;
}

.Rui{ 
  border-radius:50%;
  z-index: 10;
}


.Rui2{ 
  border-radius:50%;
  z-index: 1;
}

h3
{
    color:#7082B6;
}


/* For redirects on bottom of page */
#loginRedirect:hover{
    cursor: pointer;
    color: white;
}

#registrationRedirect{
    cursor: pointer;
    color: white;
}


/*Background Beauty*/
.eternal{
     /*color:rgba(69, 77, 106, 0.7); */
    color:rgba(51, 57, 78, 0.7);
    font-family: 'Parisienne';
    position: fixed;
    z-index: -1;
    top: 10%;
    left:1%;
    
    /* width:100%; */
}



/*Animation for Login */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}