<div class="row">
<!-- Tablet/iPad UI -->

            <app-navbar></app-navbar>
                <div id="topBanner" class="">
                <!-- Area for the logo to rest -->
                    <div class="center" id="liveBanner">
                        <h1 class="white-text hide-on-small-only"  id="bannerTitle"><i>A Palace of Poetry</i></h1>  
                        <div class="banner center ">
                            <img src="../../assets/Ruimel.png"  class="RuiLogo hide-on-med-and-down">
                        </div>
                    </div>

                    <!-- Needed for the background color behind the logo -->
                        <div class="center" id="livePhotoBanner">
                            <div class="row">
                            </div>
                        </div>
                </div>   

                    <!-- The Concept is 'Multiple Rows' -->
                    <div class="row" id="sections">
                
                        <!-- Area for Active users -->
                            <!-- See what they posted
                            Message them  -->                
                            <!-- Main Row for whats new  -->
                        <!-- Messages from ObsidianRune Team or others-->
                        <!-- Notifications -->
                        <!-- Featured posts from users -->
                        <!-- People saved as favorites -->
                        <div class="row hide" id="main">
                            <!-- <h4  id="menuTitle">Main</h4> -->
                            <div
                            class="box2">
                            <div 
                            id="testCard"
                            class="card"
                            *ngFor="let card of menuItems; let i = index;">
                                <!-- <p class="white-text">{{card}}</p> -->
                                <div class="card" id="MainCard">
                                    <h4 class="legacyTitle">{{card.title}}</h4>
                                    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                    <!-- <img src="{{card.image}}" class="" id="legacyImg"> -->
                                    <i class="material-icons" id="MenuIcon">{{card.icon}}</i>
                                    <i class="material-icons hide" id="legacyOptions">more_vert</i>
                                </div>    
                            </div>
                            </div>
                        </div>
                        
                        <!-- TEST -->
                        <!-- Modal Structure -->
                
                        <!--Regular Post Modal -->
                        <div class="row" *ngIf="displayModal">
                            <div class="container" >
                                <div class="center">
                                    <div 
                                    (click)="closeModalDialogue();" 
                                    id="modal">
                                        <div class="col m8 l8 s12 offset-l2 offset-m2">
                                            <div id="modal1">
                                                <div 
                                                    (click)="goProfile()"
                                                    id="userInfo">
                                                    <img class="left" src="{{modalPostUserProfileImg}}" id="modalProfileImg" alt="">
                                                    <h5 class="left" id="modalUser">{{modalPostUser}}</h5>
                                                </div>
                                                
                                                <br><br>
                                                <div 
                                                (click)="preSelection=true"
                                                class="modal-content">
                                                    <h4 class="modalTitle">{{modalPostTitle}}</h4>
                                                    <br><br>
                                                    <img 
                                                    (click)="setImageModal()"
                                                    src="{{modalPostImage}}" 
                                                    id="postedImg" alt="">
                                                    <div
                                                    class="center"
                                                    *ngFor="let collageImg of modalPostImages; let j = index;"
                                                     >
                                                    <img src="{{collageImg}}" 
                                                    (click)="setCollageImageModal(collageImg)"
                                                    class="postModalCollageImg{{j}} z-depth-5" >
                                                </div>
                                                    <h5 class="white-text center" style="text-overflow: ellipsis;  width:100%; white-space: pre-wrap; word-wrap: break-word;" id="post" disabled>{{modalPostTxt}}</h5>
                                                </div>
                                                <div 
                                                (click)="preSelection=true"
                                                class="modal-footer">
                                                    <h6 class="extra left">
                                                        <span class="white-text">
                                                            <i 
                                                            id="favoriteIcon"
                                                            *ngIf="modalPostLiked==false;"
                                                            class="material-icons red-text" 
                                                            (click)="likeModalPost(modalPostID); modalPostLiked = true">
                                                            favorite_border
                                                            </i>
                                                            <i 
                                                            id="favoriteIcon"
                                                            *ngIf="modalPostLiked==true;"
                                                            class="material-icons red-text" 
                                                            (click)="unLikeModalPost(modalPostID); modalPostLiked = false">
                                                            favorite
                                                            </i>

                                                             {{modalPostLikes}} &nbsp;
                                                         <i 
                                                           class="material-icons" 
                                                           (click)="commentPost()" 
                                                           id="chatBubble" 
                                                           >chat_bubble_outline</i> {{modalPostComments}}
                                                         </span>
                                                    </h6>
                                                    <h6 class="right" id="postDate">{{modalPostDate}}</h6><br>                                
                                                </div>
                                        </div>
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                        </div>  

                        <!--Legacy Modal -->
                        <div class="row" *ngIf="displayLegacyModal">
                            <div class="container" >
                                <div class="center">
                                    <div 
                                    (click)="closeLegacyModal();" 
                                    id="legacyModal">
                                        <div class="col m8 l8 s12 offset-l2 offset-m2">
                                            <div id="legacyModal1">
                                                <div 
                                                (click)="preSelection=true"
                                                class="modal-content">

                                                <!-- This is the image card below -->
                                                    <div
                                                    class="card"
                                                    id="userModalLegacy">
                                                    <img src="{{modalPostImage}}" class="" id="legacyModalImg2">
                                                    <h3 class="modalLegacyTitle">{{modalPostTitle}}</h3>
                                                    <div class="container">
                                                        <h5 class="white-text center" style="text-overflow: ellipsis;  width:100%; white-space: pre-wrap; word-wrap: break-word;" id="post" disabled>{{modalPostTxt}}</h5>   
                                                        <h6 class="white-text">{{modalPostUser}}</h6>        
                                                        <div class="row">
                                                            <div class="container">
                                                                <hr class="solid">
                                                            </div>
                                                            <div class="container">
                                                                <div class="hide-on-med-and-down">
                                                                <div class="col s4">
                                                                    <!-- Button to appear if user has not liked post -->
                                                                    <div 
                                                                    *ngIf="modalPostLiked == false"
                                                                    (click)="modalPostLiked =true; likeLegacyPost(modalPostID); addLegacyLike(modalPostID)"
                                                                    class="btn btn-large red darken-4">
                                                                    <i class="material-icons">favorite_border</i>
                                                                    </div>
                                                                    <!-- Button to appear if user has liked post -->
                                                                    <div 
                                                                    *ngIf="modalPostLiked == true"
                                                                    (click)="modalPostLiked=false; unlikeLegacyPost(modalPostID); removeLegacyLike(modalPostID)"                                                                
                                                                    class="btn btn-large red darken-4">
                                                                    <i class="material-icons">favorite</i>
                                                                    </div>
                                                                </div>
                                                                <div class="col s4">
                                                                    <div 
                                                                    [routerLink]="['/Legacy']"
                                                                    [queryParams]="{id: modalPostID}"
                                                                    class="btn btn-large blue darken-4">
                                                                    <i class="material-icons">book</i>
                                                                    View
                                                                    </div>
                                                                </div>
                                                                <div class="col s4">
                                                                    <div 
                                                                    *ngIf="modalPostSaved == false"
                                                                    (click)="modalPostSaved = true; saveLegacy(modalPostID); addLegacyReader(modalPostID);"
                                                                    class="btn btn-large blue-grey darken-4">
                                                                    <i class="material-icons">bookmark_border</i>
                                                                    
                                                                    </div>
                                                                    <div 
                                                                    *ngIf="modalPostSaved == true"
                                                                    (click)="modalPostSaved = false; unSaveLegacy(modalPostID); removeLegacyReader(modalPostID); "
                                                                    class="btn btn-large blue-grey darken-4">
                                                                    <i class="material-icons">bookmark</i>
                                                                    </div>
                                                                </div>                                                                                                                                    
                                                            </div>
                                                            </div>   
                                                            <br>                                                     
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                            
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                        </div>  
                



                            <!-- Image Post Modal -->
                            <!---Start of the image modal section---->
                        <div 
                        class="row "
                        id="modalDisplay"
                        *ngIf="displayImgModal"
                        (click)="closeImgModal()">
                            <div class="col s12 m12 l10 offset-l1">
                                <div class="center" id="imageSection">
                                    <img src="{{imgModal}}" id="modalImg">
                                </div>
                            </div>
                        </div>
                
                    

        <!-- Start of the Aevum if there are any active -->

        <div class="row" id="main">
            <h4  id="aevumTitle">Aevum Posts</h4>
            <div
            class="box2">
                <div 
                id="testCardAevum"
                class="card"
                *ngFor="let card of aevumActiveList; let i = index;">
                     <!-- <p class="white-text">{{card}}</p> -->
                    <div class="space">
                        <div class="card" id="aevumItem">
                            <h4 class="legacyTitle">{{card.title}}</h4>
                            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                            <img src="{{card.cover}}" class="" id="legacyImg">
                        </div>                        
                    </div>  
                </div>
            </div>
        </div>
 

                    <!-- Divider -->
                    <div class="row container">
                        <hr>
                    </div>
                    
                        <!-- Timeline of recent posts from all friends -->
                            <div class="row" id="main">
                            <h4  id="menuTitle">Legacy Posts</h4>
                            <div
                            class="box2">
                                <div 
                                id="testCardAevum"
                                class="card"                                
                                (click)="navigateLegacy(card)"
                                *ngFor="let card of legacyList; let i = index;">
                                     <!-- <p class="white-text">{{card}}</p> -->
                                    <div class="space">
                                        <div class="card" id="aevumItem">
                                            <h4 class="legacyTitle">{{card.title}}</h4>
                                            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                            <img src="{{card.cover}}" class="" id="legacyImg">
                                        </div>                        
                                    </div>  
                                </div>
                            </div>
                        </div>

            <!-- Computer and Tablet only -->
            <div class="hide-on-small-only">
                        <!-- Recent Posts -->
                            <!-- Timeline of recent posts from all friends -->
                            <div class="row" id="main">
                                <h4  id="menuTitle">Recent Posts</h4>
                                <div
                                class="box">
                                <div 
                                id="testCard"
                                class="card"
                                *ngFor="let card of recentPosts; let i = index;">
                                <!-- <p class="white-text">{{card}}</p> -->
                                        <div 
                                        (click)="showModalDialog(card)"
                                        class="card" 
                                        id="userRecentPosts2">
                                        <div class="card" id="userLongWriting2">
                                            <br>
                                            <h5 class="writingTitle">{{card.title}}</h5>
                                            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                            <div class="center">
                                                <img
                                                *ngIf="card.image != 'https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/Classes%2F%CE%95%CE%BB%CE%B5%CF%85%CC%81%CE%B8%CE%B5%CF%81%CE%B7%20%CF%83%CE%BA%CE%B5%CC%81%CF%88%CE%B7.PNG?alt=media&token=1ddf6078-d29a-4532-ab6a-026c6cd6f35d'" 
                                                src="{{card.image}}" class="" id="recentImg">
                                            </div>
                                            <div id="containedTxt">
                                                <div  id="writingTxt2">{{card.text}}</div>
                                            </div>
                                                <br>
                                                <!-- <img src="../../assets/Ruimel.png" id="wprofileImg" alt=""> -->
                                            <p id="writtenUser2"><i>{{card.username}}</i></p>
                                            <p  id="writingOptions">{{card.date}}</p> 
                                            </div> 
                                        </div>   
                                </div>
                            </div>
                            </div>

                        <div class="row" id="main">
                            <h4  id="menuTitle">Recent Image Posts</h4>
                            <div
                            class="box2">
                            <div 
                            id="testCard"
                            class="card"
                            *ngFor="let card of recentImgs; let i = index;">
                            <!-- <p class="white-text">{{card}}</p> -->
                                    <div 
                                    (click)="showModalDialog(card)"
                                    class="card" 
                                    id="userRecentPosts2">
                                    <div class="card" id="userLongWriting0">
                                        <br>
                                        <h5 class="writingTitle">{{card.title}}</h5>
                                        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                        <div class="center">
                                            <img
                                            *ngIf="card.image != 'https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/Classes%2F%CE%95%CE%BB%CE%B5%CF%85%CC%81%CE%B8%CE%B5%CF%81%CE%B7%20%CF%83%CE%BA%CE%B5%CC%81%CF%88%CE%B7.PNG?alt=media&token=1ddf6078-d29a-4532-ab6a-026c6cd6f35d'" 
                                            src="{{card.image}}" class="" id="recentImg2">
                                        </div>
                                        <div id="containedTxt">
                                            <div  id="writingTxt2">{{card.text}}</div>
                                        </div>
                                            <br>
                                            <!-- <img src="../../assets/Ruimel.png" id="wprofileImg" alt=""> -->
                                        <p id="writtenUser2"><i>{{card.username}}</i></p>
                                        <p  id="writingOptions">{{card.date}}</p> 
                                        </div> 
                                    </div>   
                            </div>
                            <div 
                            id="testCard"
                            class="card"
                            *ngFor="let card of recentImgs; let i = index;">
                            <!-- <p class="white-text">{{card}}</p> -->
                                <div class="space">
                                    <div
                                    (click)="showModalDialog(card);"
                                    class="card"
                                    id="userImgRecent">
                                    <img src="{{card.image}}" class="" id="legacyImg">
                                        <h4 class="recentImgTitle">{{card.title}}</h4>
                                        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                    </div>
                                    
                                </div>  
                            </div>
                           </div>
                        </div>
                            <!-- Area for Recent Long Writings -->
                            <div class="row" id="main">
                                <h4  id="menuTitle">Recent Writings</h4>
                                <div
                                class="box2">
                                <div 
                                id="WritingCard"
                                class="card"
                                *ngFor="let card of recentWritings; let i = index;">
                                <!-- <p class="white-text">{{card}}</p> -->
                                    <div 
                                    (click)="showModalDialog(card)"
                                    class="card" 
                                    id="userWritingPosts">
                                    <div class="card" id="userLongWriting">
                                        <h5 class="writingTitle">{{card.title}}</h5>
                                        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                        <!-- <img src="{{card.image}}" class="" id="legacyImg"> -->
                                        
                                            <div  id="writingTxt">{{card.text}}</div>
                                            <!-- <img src="../../assets/Ruimel.png" id="wprofileImg" alt=""> -->
                                        <p id="writtenUser"><i>{{card.username}}</i></p>
                                        <p  id="writingOptions">{{card.date}}</p> 
                                        </div> 
                                    </div>    
                                </div>
                            </div>
                            </div>

                            <!-- Timeline of recent Collages posts from all friends -->
                            <div class="row" id="main">
                                <h4  id="menuTitle">Recent Collages</h4>
                                <div
                                class="box">
                                <div 
                                id="collageCard"
                                class="card"
                                *ngFor="let card of recentCollages; let i = index;">
                                
                                <div class="spacing">
                                    <div 
                                    (click)="showModalDialog(card);"
                                    class="card" 
                                    id="userCollagePosts">
                                        <h4 class="userPostTitle">{{card.title}}</h4>
                                        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                        <div
                                            *ngFor="let collageImg of card?.postImgs; let j = index;"
                                        >
                                            <img src="{{collageImg}}" class="postCollageImg{{j}} z-depth-5" id="selectedCollage">
                                        </div>
                                        <!-- <i class="material-icons hide" id="userPostOptions">more_vert</i>
                                        <i class="material-icons " id="userPostFav">favorite_border</i>
                                        <h5 class="white-text" id="userLikes">{{card.numLikes}}</h5> -->
                                    </div>  
                                </div>
                               
                                </div>
                            </div>
                            </div>
                    
                        <!-- Divider -->
                        <div class="row hide container">
                            <hr>
                        </div>
                    
                        <div
                        class="box">
                        <div 
                        id="testCard"
                        class="card"
                        *ngFor="let card of recentPosts; let i = index;">
                        <!-- <p class="white-text">{{card}}</p> -->
                                <div 
                                (click)="showModalDialog(card)"
                                class="card" 
                                id="userRecentPosts2">
                                <div class="card" id="userLongWriting2">
                                    <br>
                                    <h5 class="writingTitle">{{card.title}}</h5>
                                    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                                    <div class="center">
                                        <img
                                        *ngIf="card.image != 'https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/Classes%2F%CE%95%CE%BB%CE%B5%CF%85%CC%81%CE%B8%CE%B5%CF%81%CE%B7%20%CF%83%CE%BA%CE%B5%CC%81%CF%88%CE%B7.PNG?alt=media&token=1ddf6078-d29a-4532-ab6a-026c6cd6f35d'" 
                                        src="{{card.image}}" class="" id="recentImg">
                                    </div>
                                    <div id="containedTxt">
                                        <div  id="writingTxt2">{{card.text}}</div>
                                    </div>
                                        <br>
                                        <!-- <img src="../../assets/Ruimel.png" id="wprofileImg" alt=""> -->
                                    <p id="writtenUser2"><i>{{card.username}}</i></p>
                                    <p  id="writingOptions">{{card.date}}</p> 
                                    </div> 
                                </div>   
                        </div>
                    </div>                  
            </div>
                    
            <!-- Divider -->
            <div class="row container">
                <hr>
            </div>
            
            <!-- Mobile Posts -->
            <div class="row hide-on-med-and-up">
                <div
                class="mobileBox">
                <div 
                id="testCard"
                class="card"
                *ngFor="let card of recentPosts; let i = index;">
                <!-- <p class="white-text">{{card}}</p> -->
                        <div 
                        (click)="showModalDialog(card)"
                        class="card" 
                        id="userRecentPosts2">
                        <div class="card" id="userLongWriting2">
                            <br>
                            <h5 class="writingTitle">{{card.title}}</h5>
                            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                            <div class="center">
                                <img
                                *ngIf="card.image != 'https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/Classes%2F%CE%95%CE%BB%CE%B5%CF%85%CC%81%CE%B8%CE%B5%CF%81%CE%B7%20%CF%83%CE%BA%CE%B5%CC%81%CF%88%CE%B7.PNG?alt=media&token=1ddf6078-d29a-4532-ab6a-026c6cd6f35d'" 
                                src="{{card.image}}" class="" id="recentImg">
                            </div>
                            <div id="containedTxt">
                                <div  id="writingTxt2">{{card.text}}</div>
                            </div>
                                <br>
                                <!-- <img src="../../assets/Ruimel.png" id="wprofileImg" alt=""> -->
                            <p id="writtenUser2"><i>{{card.username}}</i></p>
                            <p  id="writingOptions">{{card.date}}</p> 
                            </div> 
                        </div>   
                </div>
                </div> 
            </div>
        
            </div>
                

<!-- End of Tablet/UI -->
 

    <!--Beginning of background Beauty Eternal-->
    <div class="row">
        <div class="col s12 m12 s12">
     <div class="eternal">
        <ul id="eternalList" class="center">
            <li><h2 id="glowText">Night Day Infinity Eternal Connect Time Nocturne Protect Love</h2></li>             
            <li><h2 id="glowText2"> الليل ، اليوم ، اللانهاية ، الأبدية ، الاتصال ، الوقت ، الموسيقى الهادئة ، حماية ، الحب</h2></li>
            <li><h2 id="glowText3">夜、日、無限、永遠、接続、時間、夜想曲、守る、愛</h2></li>
            <li><h2 id="glowText4">Ημέρα Νύχτας Άπειρη Αιώνια Σύνδεση Χρόνος  Προστατεύστε την Αγάπη</h2></li>
            <li><h2 id="glowText5">夜，天，,无限，永恒，连接，时间，夜曲，保护，爱</h2></li>
        </ul>
    </div>
</div>
        </div>

</div>