<div class="row">
    <app-navbar></app-navbar>

<!-- The complete top banner div -->
<div id="topBanner" class="">
<!-- Area for the logo to rest -->
    <div class="center" id="liveBanner">
        <h1 class="white-text hide-on-small-only"  id="bannerTitle"><i>A Palace of Poetry</i></h1>  
        <div class="banner center ">
            <img src="../../assets/Ruimel.png"  class="RuiLogo hide-on-med-and-down">
        </div>
    </div>

<!-- These are the three images -->
    <div class="center" id="livePhotoBanner">
        <div class="row">
            <div class="col l4 m4" id="imgLeft">
                <img 
                class=""
                src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FCCF733DE-0488-49E1-B128-95350491A843.jpeg?alt=media&token=ad602b29-0866-4796-9d3d-bc66ac99c262" id="bannerImg" alt="">
            </div>
            <div class="col l4 m4" id="imgCenter">
                <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FIMG_0132.jpg?alt=media&token=7f967075-407b-47fe-b717-8289fbefae05" id="bannerImg" alt="">

            </div>
            <div class="col l4 m4" id="imgRight">
                <img 
                class=""
                src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FIMG_4533.jpg?alt=media&token=778bd24d-85d3-4fa9-afbd-746ca36b545b" id="bannerImg" alt="">

            </div>
        </div>
    </div>
</div>




    <!-- The Concept is 'Multiple Rows' -->
    <div class="row" id="sections">

    <!-- Main Row for whats new  -->
        <!-- Messages from ObsidianRune Team or others-->
        <!-- Notifications -->
        <!-- Featured posts from users -->
        <!-- People saved as favorites -->
        <div class="row " id="main">
            <h4  id="menuTitle">Main</h4>
            <div
             class="box">
             <div 
             id="testCard"
             class="card"
             *ngFor="let card of RecentPost; let i = index;">
                <!-- <p class="white-text">{{card}}</p> -->
                 <div class="card" id="userLegacy">
                     <h4 class="legacyTitle">{{card.title}}</h4>
                     <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                     <img src="{{card.image}}" class="" id="legacyImg">
                     <i class="material-icons " id="legacyOptions">more_vert</i>
                 </div>    
              </div>
            </div>
          
 
        </div>
    
        <!-- Divider -->
        <div class="row container">
            <hr>
        </div>
    
        <!-- Recent Posts -->
            <!-- Timeline of recent posts from all friends -->
            <div class="row" id="main">
                <h4  id="menuTitle">Recent Posts</h4>
                <div
                class="box2">
                <div 
                id="testCard"
                class="card"
                *ngFor="let card of testList; let i = index;">
                   <!-- <p class="white-text">{{card}}</p> -->
                    <div class="card" id="userLegacy">
                        <h4 class="legacyTitle">{{card.title}}</h4>
                        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                        <img src="{{card.image}}" class="" id="legacyImg">
                        <i class="material-icons " id="legacyOptions">more_vert</i>
                    </div>    
                 </div>
               </div>
            </div>
    
        <!-- Divider -->
        <div class="row container">
            <hr>
        </div>
    
    <!-- Recent Writings (Legacy and more) -->
    <!-- Timeline of recent posts from all friends -->
    <div class="row" id="main">
        <h4  id="menuTitle">Legacy Posts</h4>
        <div
        class="box">
        <div 
        id="testCard"
        class="card"
        *ngFor="let card of testList; let i = index;">
           <!-- <p class="white-text">{{card}}</p> -->
            <div class="card" id="userLegacy">
                <h4 class="legacyTitle">{{card.title}}</h4>
                <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                <img src="{{card.image}}" class="" id="legacyImg">
                <i class="material-icons " id="legacyOptions">more_vert</i>
            </div>    
         </div>
       </div>
    </div>
    
       <!-- Divider -->
       <div class="row container">
            <hr>
        </div>
    
    
    <!-- Recent Writings (Legacy and more) -->
    <!-- Timeline of recent posts from all friends -->
    <div class="row" id="main">
        <h4 id="menuTitle">Writings</h4>
        <div
        class="box2">
        <div 
        id="testCard"
        class="card"
        *ngFor="let card of WritingList; let i = index;">
           <!-- <p class="white-text">{{card}}</p> -->
            <div class="card" id="userWriting">
                <h5 class="writingTitle">{{card.title}}</h5>
                <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                <!-- <img src="{{card.image}}" class="" id="legacyImg"> -->
                <div  id="legacyTxt">{{card.sample}}</div>
                <img src="../../assets/Ruimel.png" id="wprofileImg" alt="">
                <p id="writtenUser"><i>{{card.username}}</i></p>
                <p  id="writingOptions">{{card.date}}</p>
            </div>    
         </div>
       </div>
    </div>
    
       <!-- Divider -->
       <div class="row container">
        <hr>
    </div>
    
    
    <!-- Recent Writings (Legacy and more) -->
    <!-- Timeline of recent posts from all friends -->
    <div class="row" id="main">
        <h4 id="menuTitle">NFTs ( Coming Soon )</h4>
        <div
        class="box">
        <div 
        id="testCard"
        class="card"
        *ngFor="let card of NFT; let i = index;">
           <!-- <p class="white-text">{{card}}</p> -->
            <div class="card" id="userLegacy">
                <h4 class="legacyTitle">{{card.title}}</h4>
                <!-- <img src="https://firebasestorage.googleapis.com/v0/b/obsidianrune-vuejs.appspot.com/o/N4Posts%2FItVzlZqqYXQukCYVI3TZodI7oQq2%2Fimages%2FFEB89DFE-9095-406D-BCDB-6D4E97F2BF40_1_101_o.jpeg?alt=media&token=9b32266d-727c-454a-8a22-2dbe0671621e" class="" id="legacyImg"> -->
                <img src="{{card.image}}" class="" id="legacyImg">
                <i class="material-icons " id="legacyOptions">more_vert</i>
            </div>    
         </div>
       </div>
    </div>
    
       <!-- Divider -->
       <div class="row container">
        <hr>
    </div>
    </div>


</div>