

#main{
width: 100%;
}

/* Area for live banner and other banner elements */
#liveBanner{
    height: 225px;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
 

}
#livePhotoBanner{
    border: solid rgb(0, 0, 0) 2px;
    height: 225px;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -3;
}

/* For Live photo banner */
#imgCenter{
    height: 225px;
    position: relative;
  }
  
#imgLeft{
    height: 225px;
    position: relative;
    animation: rightSlide 3s;
    animation-direction: normal;
}
#imgRight{
    height: 225px;
    position: relative;
    animation: slide 3s;
    animation-direction: normal;
}


#bannerImgCenter{
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
#bannerImgLeft{
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
#bannerImgRight{
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }

.banner{
    position: absolute;
    top: 0%;
    width: 100%;
}

.horizontal-mat-list-item {
    float: right;
    display: list-item;
    }


/* For the header */
.RuiLogo{
    width:8%;
    border-radius:50%;
 
    z-index: -1;
}

#bannerTitle{
    font-family:'Allura', cursive;
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 3;
}

/* Overall Sections */
#sections{
    position: absolute;
    width: 100%;
    top: 29%;
}


/* For the menu title */
#menuTitle{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1%;
    color: rgb(196, 220, 255);
}

/* For the acitve user title */
#activeTitle{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1%;
    color: rgb(196, 220, 255);
    position: relative;
    z-index: -1;
}

/* Start of the Menu Cards  */
#testCard{
    width: 32%;
    display: inline-block;
    padding-left: 0%;
    border: none;
    background-color: #00000000;
    padding: 1%;
}
.box{
    overflow: scroll;
    flex-direction: row;
    display: flex;
    position: relative;
    animation: slide 3.5s;
    animation-direction: normal;
}


.box2{
    overflow: scroll;
    flex-direction: row;
    display: flex;
    position: relative;
    animation: rightSlide 3.5s;
    animation-direction: normal;
}

@keyframes rightSlide{
    0%   { right: 90%; top: 0px;}
    100% { right: 0%; top: 0px;}
  }

#menuCards{
    width: 90%;
    padding-left: 5%;
    display: inline-block;
}


/* For the Main Menu cards */
#MainCard{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:100px;
    width: 275px;
    border: solid rgb(40, 97, 255) 1px;
    display: inline-block;

}

#MainCard:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:100px;
    cursor: pointer;
    border:solid rgb(255, 123, 0) 2px;
}

/* For the Active User cards */
#activeUserCard{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:100px;
    width: 300px;
    display: inline-block;
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 2px;
}

#activeUserCard:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:100px;
    cursor: pointer;
    border:solid rgb(255, 123, 0) 2px;
}

/* //For user posts cards */
#userPosts{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:300px;
    width: 300px;
    border: solid black 1px;
    display: inline-block;

}

#userPosts:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:350px;
    width: 350px;
    cursor: pointer;
    border:solid rgb(255, 123, 0) 2px;
}
/* //For legacy cards */
#userLegacy{
    background-color:rgb(3, 4, 36);
    border-radius:15px;
    height:200px;
    width: 450px;
    border: solid black 1px;
    display: inline-block;

}

#userLegacy:hover{
    background-color:rgb(41, 4, 8);
    border-radius:15px;
    height:200px;
    cursor: pointer;
    border:solid rgb(255, 123, 0) 2px;
}

/* For the writing Cards */
#userWriting{
    background-color:rgb(20, 23, 54);
    border-radius:15px;
    height:400px;
    width: 400px;
    border: solid black 1px;
    display: inline-block;

}

#userWriting:hover{
    background-color:rgb(29, 28, 28);
    border-radius:15px;
    height:400px;
    cursor: pointer;
}


.writingTitle{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(3vw, 3px);    
    text-align: center;
    z-index: 3;
}

#wprofileImg{
    width: 15%;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    opacity: 0.4;
    z-index: 1;
    
}

#writtenUser{
    position:absolute;
    left: 16%;
    bottom:0%;
    font-size: 120%;
    z-index: 2;
    color:white;
}
#writingOptions{
    position:absolute;
    right: 1%;
    bottom:0%;
    font-size: 90%;
    z-index: 5;
    color:white;
}
#writingOptions:hover{
    position:absolute;
    right:0%;
    top:0%;
    font-size: 350%;
    z-index: 5;
    color: coral;
    cursor: pointer;
}

 /* Additional Area for user card */
.userPostTitle{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(2vw, 2px);    
    position:absolute;
    left:10%;
    top:0%;
    z-index: 3;
}

#userPostImg{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }


.legacyTitle{
    color:rgb(245, 245, 245);
    text-shadow: 5px 5px #000000;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 350%; */
    font-size: max(3vw, 3px);    
    position:absolute;
    right:10%;
    bottom:5%;
    z-index: 3;
}

#legacyImg{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  #legacyTxt{
      text-overflow: ellipsis;
      padding-left: 5%;
      padding-right: 5%;
      height: 100px;
      max-height: 50px;
      position: absolute;
      z-index: 4;
      color: rgba(255, 255, 255, 0.418);
  }

/* For icon on main menu */
  #MenuIcon{
    position:absolute;
    left: 5%;
    top:5%;
    font-size: 500%;
    z-index: 1;
    background-color: rgba(80, 131, 199, 0.479);
    color:rgb(255, 167, 67);
    opacity: 0.8;
    padding: 3%;
    border-radius: 50px;
}

/* Menu buttons for user post */
  #userPostOptions{
    position:absolute;
    right: 0%;
    bottom:5%;
    font-size: 250%;
    z-index: 5;
    color:white;
}
#userPostOptions:hover{
    position:absolute;
    right:0%;
    bottom:5%;
    font-size: 250%;
    z-index: 5;
    color: coral;
    cursor: pointer;
}
  #userPostFav{
    position:absolute;
    left: 3%;
    bottom:2%;
    font-size: 250%;
    z-index: 5;
    color:rgb(255, 0, 0);
}
#userPostFav:hover{
    position:absolute;
    left:0%;
    bottom:0%;
    font-size: 350%;
    z-index: 5;
    color: coral;
    cursor: pointer;
}

#userLikes{
    position:absolute;
    left: 13%;
    bottom:0%;
    font-size: 200%;
    z-index: 5;
    color:rgb(255, 255, 255);
}

  #legacyOptions{
    position:absolute;
    right: 0%;
    top:0%;
    font-size: 250%;
    z-index: 5;
    color:white;
}
#legacyOptions:hover{
    position:absolute;
    right:0%;
    top:0%;
    font-size: 250%;
    z-index: 5;
    color: coral;
    cursor: pointer;
}

ul#menu li {
    display: inline;
  }


#modal{
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal1{
    background-color: rgb(17, 17, 138);
    border: solid rgb(40, 40, 165) 1px;
    width: 100%;
    height: 100%;
}